@font-face{
	font-family: MPLUS1p-Light;
	src: url(Fonts/MPLUS1p-Light.ttf);
}
@font-face{
	font-family: MPLUS1p-Bold;
	src: url(Fonts/MPLUS1p-Bold.ttf);
}

:root{
	box-sizing: border-box;
}
*,::before,::after{
	box-sizing: inherit;
}
body{
	padding: 0rem;

	margin: 0rem;
}
.header-element{
	display: flex;
	background: rgba(42, 42, 42, 0.8);
	margin: 0rem;
	padding: 0rem;
}
.header-element>em{
	margin-top: 0rem;
	margin-left: 6.51041667vw;
	font-family: MPLUS1p-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 1.0416667vw;
	line-height: 1.19791667vw;
	color: #ffffff;
	margin-top: 1.875vw;
	margin-bottom: 1.875vw;
	display: inline-block;
}
.header-element>em+em{
	margin-left: 7.65625vw;
}
.header-element>em:nth-child(2){
	margin-left: 31.5104167vw;
}