
@font-face{
	font-family: MPLUS1p-Light;
	src: url(Fonts/MPLUS1p-Light.ttf);
}
@font-face{
	font-family: MPLUS1p-Bold;
	src: url(Fonts/MPLUS1p-Bold.ttf);
}

:root{
	box-sizing: border-box;
}
*,::before,::after{
	box-sizing: inherit;
	--width-variable: 0.87; 
}
.media-card{
	width: calc(19.53125vw * var(--width-variable));
    height: calc(32.0833333vw * var(--width-variable));
    background: rgba(196, 196, 196, 0.21);
    box-shadow: inset 0px calc(0.208333333vw * var(--width-variable)) calc(0.208333333vw * var(--width-variable)) rgba(0, 0, 0, 0.25);
    border-radius: calc(1.30208333vw * var(--width-variable));
    padding: 0rem;
    margin: 0rem;
    box-shadow:0 0 0 calc(0.15625vw * var(--width-variable)) rgba(42, 42, 42, 0.8);
}
.media-card-images{
    margin: 0rem;
    padding: 0rem;
    width: calc(19.3229167vw * var(--width-variable));
    height: calc(21.40625vw * var(--width-variable));
    margin-left: calc(0.104166667vw * var(--width-variable));
    margin-right: calc(0.104166667vw * var(--width-variable));
    margin-top: calc(0.104166667vw * var(--width-variable));
    margin-bottom: 0rem;
    z-index: 3;
    background-image: url(../IMG/dt1990.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: calc(1.30208333vw * var(--width-variable)); 
}
.media-card-image{
	width: calc(2.60416667vw * var(--width-variable));
    height: calc(2.60416667vw * var(--width-variable));
    object-fit: cover;
    position: relative;
    left: 0rem;
    top: calc(19.5vw * var(--width-variable));
    margin-left: 0rem;
    margin-right: calc(0.364583333vw * var(--width-variable));
    margin-top: 0rem;
    margin-bottom:0rem;
    z-index: 5;
    box-shadow: 0vw calc(0.104166667vw * var(--width-variable)) calc(0.104166667vw * var(--width-variable)) rgba(0, 0, 0, 0.25);
    float: right;
    border-radius: calc(1.30208333vw * var(--width-variable));
    opacity: 1;
}
.media-card-image + .media-card-image{
    margin-right: calc(0.364583333vw * var(--width-variable));
}
.media-card-body{
	position: relative;
	top:;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-left: calc(1.40625vw * var(--width-variable));
	padding-right: calc(1.40625vw * var(--width-variable));
	margin-top: calc(0.95vw * var(--width-variable));
}
.media-card-body-firm{
	margin-top: 0rem;
	margin-bottom: 0rem;
	font-family: MPLUS1p-Light;
    font-style: normal;
    font-weight: 300;
    font-size: calc(2.08333333vw * var(--width-variable));
    line-height: calc(3.07291667vw * var(--width-variable));
    letter-spacing: calc(0.104166667vw * var(--width-variable));
    color: #000000;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    float:left;
}
.media-card-body-name{
	margin-top: 0rem;
	margin-bottom: 0rem;
	font-family: MPLUS1p-Light;
    font-style: normal;
    font-weight: 300;
    font-size: calc(2.08333333vw * var(--width-variable));
    line-height: calc(3.07291667vw * var(--width-variable));
    letter-spacing: calc(0.104166667vw * var(--width-variable));
    color: #000000;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 59%;
    float:left;
}
.media-card-body-detail{
	font-family: MPLUS1p-Bold;
    font-style: normal;
    font-weight: 500;
    font-size: calc(1.1458333vw * var(--width-variable));
    letter-spacing: calc(0.0572916667vw * var(--width-variable));
    color: #0085FF;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 41%;
}
.media-card-body>hr{
	flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    background-color: #000000;
    height: calc(0.0572916667vw * var(--width-variable));
    border: none;
    margin-top: calc(0.2vw * var(--width-variable));
    margin-bottom: calc(0.5vw * var(--width-variable));
}
.media-card-body-buy{
	font-family: MPLUS1p-Bold;
    font-style: normal;
    font-weight: 500;
    font-size: calc(1.1458333vw * var(--width-variable));
    letter-spacing: calc(0.0572916667vw * var(--width-variable));
    color: #0085FF;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60%;
    float:left;
}
.media-card-body-price{
	font-family: MPLUS1p-Light;
    font-style: normal;
    font-weight: 300;
    font-size: calc(1.1458333vw * var(--width-variable));
    letter-spacing: calc(0.0572916667vw * var(--width-variable));
    color: #000000
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
}