@font-face{
	font-family: MPLUS1p-Light;
	src: url(Fonts/MPLUS1p-Light.ttf);
}
@font-face{
	font-family: MPLUS1p-Bold;
	src: url(Fonts/MPLUS1p-Bold.ttf);
}
@font-face{
	font-family: MPLUS1p-Medium;
	src: url(Fonts/MPLUS1p-Medium.ttf);
}

:root{
	box-sizing: border-box;
}
*,::before,::after{
	box-sizing: inherit;
}
body{
	padding: 0rem;

	margin: 0rem;
}
.subfooter-element{
	display: flex;
	flex-direction: row;
	margin: 0rem;
	padding:0rem;
}
.subfooter-element>em{
	font-family: MPLUS1p-Medium;
	font-style: normal;
	font-weight: 500;
	font-size: 1.14583333vw;
	line-height: 1.71875vw;
	letter-spacing: 0.1em;
	display: inline-block;
	margin-left: 4.53125vw;
}
.subfooter-element>em:nth-child(2n+1){
	color: #000000;
}
.subfooter-element>em:nth-child(2){
	background:rgba(42, 42, 42, 0.9);
	color:  #FFFFFF;
	padding-left: 24.5833333vw;
	padding-right: 32vw;
}
.subfooter-element>em:nth-child(n){
	padding-top: .9375vw;
	padding-bottom: .9375vw;
	align-items: center;
}